/* FindPassword.module.css */

.wrapper {
    padding: 16px;
    text-align: center;
}

.logo {
    display: block;
    margin: 40px 0;
}
.title {
    font-size: 24px;
    font-weight: bold;
}

.lead {
    color: rgba(0, 0, 0, 0.45);
    font-size: 16px;
}

.formWrapper {
    max-width: 500px;
    width: 100%;
    margin: 20px auto 0;
}

.actions {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.actionButton {
    width: 45%;
}

.copyright {
    margin-top: 40px;
    color: #888;
}
.inputEmail{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}
.linkbutton{

}